force-app/main/default/flows/AutomateMovieCastPreparationProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddActorIDToCollection</name>
        <label>Add Actor ID To Collection</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ActorsInMovieID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ThroughCastRecords.Actor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncrementNumberOfActors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignScriptNumberOfActors</name>
        <label>AssignScriptNumberOfActors</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ActorsNumberSCRIPT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfActorsInScript.NumberOfActors__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ThroughCastRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementNumberOfActors</name>
        <label>Increment Number Of Actors</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CastRecordsNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ThroughCastRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckQuantityOfActors</name>
        <label>Check Quantity Of Actors</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>SelectAvailableFromDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ScriptActorsVSCastRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CastRecordsNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ActorsNumberSCRIPT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnoughActors</targetReference>
            </connector>
            <label>Enough Actors</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Automate Movie Cast Preparation Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automate Movie Cast Preparation Process</label>
    <loops>
        <name>IterateSelectedActors</name>
        <label>Iterate Selected Actors</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <collectionReference>TableOfAvailableActors.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LetUserWriteCharacterName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SuccessMessageTitle</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ThroughCastRecords</name>
        <label>Through Cast Records</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>GetCurrentCast</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddActorIDToCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckQuantityOfActors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCastRecord</name>
        <label>Create Cast Record</label>
        <locationX>270</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>IterateSelectedActors</targetReference>
        </connector>
        <inputAssignments>
            <field>Actor__c</field>
            <value>
                <elementReference>IterateSelectedActors.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Character__c</field>
            <value>
                <elementReference>WriteCharacterName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Movie__c</field>
            <value>
                <elementReference>CurrentMovieID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricePerHour__c</field>
            <value>
                <elementReference>IterateSelectedActors.PricePerHourEUR__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cast__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>FindMovieID</name>
        <label>Find Movie ID</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCurrentCast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentMovieID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movie__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAvailableActors</name>
        <label>Get Available Actors</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ShowTableOfAvailableActors</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Available_From__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>AvailableFromDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available_From__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ActorsInMovieID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentCast</name>
        <label>GetCurrentCast</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NumberOfActorsInScript</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Movie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentMovieID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cast__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>NumberOfActorsInScript</name>
        <label>Number Of Actors In Script</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignScriptNumberOfActors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FindMovieID.Script__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Script__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>EnoughActors</name>
        <label>Enough Actors</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectAvailableFromDate</targetReference>
        </connector>
        <fields>
            <name>EnoughActorsText</name>
            <fieldText>&lt;p&gt;No more actors needed. Press Next button to add additional backup actors!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LetUserWriteCharacterName</name>
        <label>Let User Write Character Name</label>
        <locationX>270</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCastRecord</targetReference>
        </connector>
        <fields>
            <name>ActorNameForCharacter</name>
            <fieldText>&lt;p&gt;Actor: {!IterateSelectedActors.FirstName} {!IterateSelectedActors.LastName} &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WriteCharacterName</name>
            <dataType>String</dataType>
            <fieldText>Character:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectAvailableFromDate</name>
        <label>Select Available From Date</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetAvailableActors</targetReference>
        </connector>
        <fields>
            <name>AvailableFromDate</name>
            <dataType>Date</dataType>
            <fieldText>Available From Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowTableOfAvailableActors</name>
        <label>Show Table Of Available Actors</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IterateSelectedActors</targetReference>
        </connector>
        <fields>
            <name>TableOfAvailableActors</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetAvailableActors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-1488&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-1bf7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessMessageTitle</name>
        <label>Success Message Title</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Actors were added to movie cast!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FindMovieID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActorsInMovieID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActorsNumberSCRIPT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CastRecordsNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CharacterNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentMovieID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfAvailableActors</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
